<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">
    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

    <div id="page">
        <div class="page-content pb-0">
            <div data-card-height="cover" class="card">
                <div class="card-top notch-clear">
                    <div class="d-flex">
                        <a href="#" data-back-button class="me-auto icon icon-m"><i class="font-14 fa fa-arrow-left color-theme"></i></a>
                        <a href="#" data-toggle-theme class="show-on-theme-light multumesc-auto icon icon-m"><i class="font-12 fa fa-moon color-theme"></i></a>
                        <a href="#" data-toggle-theme class="show-on-theme-dark multumesc-auto icon icon-m"><i class="font-12 fa fa-lightbulb color-yellow-dark"></i></a>
                    </div>
                </div>
                <div class="card-center main-card-box">
                    <div class="p-4 main-card">
                        <h1 class="text-center font-800 font-40 mb-1">Password</h1>
                        <p class="color-highlight text-center font-12">
                            Please enter a difficult password
                        </p>
                        <div class="input-style no-borders has-icon validate-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control validate-password" id="form2a" placeholder="Password">
                            <label for="form2a" class="color-highlight">Password</label>
                            <i class="fa fa-times disabled invalid color-red-dark"></i>
                            <i class="fa fa-check disabled valid color-green-dark"></i>
                            <em>(required)</em>
                        </div>
                        <a onclick="setPassword();" class="back-button btn btn-full btn-m shadow-large rounded-sm text-uppercase font-900 bg-highlight">Set Password</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Page Content-->
    </div>

    <script type="text/javascript">
        // 키 이밴트
        const input = document.getElementById("form2a");

        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                setPassword();
            }
        });
    </script>
    <script type="text/javascript">
        // 패스워드 설정
        function setPassword() {
            const action = "{{.action}}";
            const passwordEle = document.getElementById("form2a");

            if (action === "signup") {
                fetch('/v1/user', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: "{{.email}}",
                        code: "{{.state}}",
                        verified_code: "{{.verifiedCode}}",
                        password: passwordEle.value
                    }),
                }).then(async resp => {
                    let data = await resp.json();
                    if (resp.status === 201) {
                        alert("회원 가입 완료. 잠시후 로그인 페이지로 이동합니다");
                        window.location.href = "/?code=" + data.code + "&group=" + data.group;
                    } else {
                        showErrorToast(data.message);
                    }
                })
            } else if (action === "forgot") {
                fetch('/v1/user/password', {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: "{{.email}}",
                        code: "{{.state}}",
                        verified_code: "{{.verifiedCode}}",
                        password: passwordEle.value
                    }),
                }).then(async resp => {
                    let data = await resp.json();
                    if (resp.status === 200) {
                        alert("패스워드 변경 완료. 잠시후 로그인 페이지로 이동합니다");
                        window.location.href = "/?code=" + data.code + "&group=" + data.group;
                    } else {
                        showErrorToast(data.message);
                    }
                })
            } else {
                showErrorToast('요청 상태가 올바르지 않습니다');
            }
        }
    </script>
    {{template "script" .}}
</body>
</html>